<!DOCTYPE html>
<html>
  <head>
    <title>Code Review</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Materialize.css Fonts -->
    <!-- https://materializecss.com/getting-started.html -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize.css Stylesheets -->
    <!-- https://materializecss.com/getting-started.html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Materialize.css Alerts Stylesheets -->
    <!-- https://codepen.io/j_holtslander/pen/MzNPbP?css-preprocessor=scss -->
    <style>
      .alert .card-content span {
        font-weight: bold;
        font-size: 1.1em;
        margin-right:4px;
      }

      .alert .card-content .material-icons {
        font-size: 1.5em;
        position: relative;
        top: 5px;
        margin-right: 0.5em;
      }
    </style>
  </head>

  <body>
    <!-- NOTE: Added by `bundle exec rails generate devise:install`. -->
    <% if notice.present?  %>
      <%= render "devise/partials/notice" do %>
        <%= notice %>
      <% end %>
    <% end %>

    <!-- NOTE: Added by `bundle exec rails generate devise:install`. -->
    <% if alert.present?  %>
      <%= render "devise/partials/alert" do %>
        <%= alert %>
      <% end %>
    <% end %>

    <%= yield %>

    <!-- Materialize.css JavaScripts -->
    <!-- https://materializecss.com/getting-started.html -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      /**
       * NOTE: Needed to initialize buttons effects, for example.
       * https://materializecss.com/auto-init.html
       */
      M.AutoInit();
    </script>
  </body>
</html>
